@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('./assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/open-sans-v17-latin-regular.woff') format('woff');
}

$blue: #003366;
$light-blue: #6699CC;
$dark-blue: #000044;

.container{
 width: 95%;
 margin: auto;
 font-family: 'Open Sans';
}

h1{
  text-align: center;
  color: $blue;
}

button {
  background-color: $light-blue;
  color: white;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  
}

tr{
  border-bottom: $dark-blue 2.5px solid;
}

th{
  padding: 0.7em 0.4em;
}

td {
  text-align: center;
  font-size: 1em;
  padding: 0.7em 0.4em;
  color: $blue;
}

.clubLogo {
  height: 4vh;
  width: auto;
}

.clubName {
  text-align: left;
}

/*View for tablet*/
@media (min-width: 479px) {
  h1{
    font-size: 3em;
  }

  button {
    font-size: 1em;
  }

  th{
    font-size: 1.5em;
    padding: 1em 0.9em;
  }
  
  td {
    font-size: 1.5em;
    padding: 1em 0.9em;
  }

}

/*View for desktop*/
@media (min-width: 1000px) {
  .container{
    width: 50%;
  }

  .clubLogo {
    height: 5vh;
  }

}

