@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src:
    url('./assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/open-sans-v17-latin-regular.woff') format('woff');
}

$text-colour: #003366;
$button-colour: #6699CC;
$border-line: #000044;

%mobile-text {
  font-size: 0.8em;
  padding: 0.7em 0.3em;
}

.container{
 width: 95%;
 margin: auto;
 font-family: 'Open Sans';
}

h1{
  text-align: center;
  color: $text-colour;
}

button {
  background-color: $button-colour;
  color: white;
  border-radius: 12px;
  font-size: 0.75em;
}

table {
  width: 100%;
  border-collapse: collapse;
  
}

tr{
  border-bottom: $border-line 2.5px solid;
}

th{
  @extend %mobile-text
}

td {
  text-align: center;
  @extend %mobile-text;
  color: $text-colour;
}

.clubLogo {
  height: 4vh;
  width: auto;
}

.clubName {
  text-align: left;
}

/*View for tablet*/
@media (min-width: 479px) {

  @mixin tablet-text {
    font-size: 1.3em;
    padding: 1em 0.8em;
  }

  h1{
    font-size: 3em;
  }

  button {
    font-size: 1em;
  }

  th{
    @include tablet-text;
  }
  
  td {
    @include tablet-text;
  }
}

/*View for desktop*/
@media (min-width: 1000px) {
  .container{
    width: 50%;
  }

  .clubLogo {
    height: 5vh;
  }

}

